<h1>Welcome to Photoroll!</h1>

<br>
<% if current_user %>
    <%= link_to "Profile",  user_path(current_user.id) %>
<% else %>
    <p>Please log in to upload/view your images.</p>
<% end %>

<h3>Here are all public images:</h3>
<div class="grid-container">
    <% @posts.each do |post| %>
        <figure class="card">
            <%= image_tag url_for(post.image) if post.image.attached? %>
        </figure>
    <% end %>
</div>