<h1>Welcome to Photoroll!</h1>

<br>
<% if current_user %>
    <%= link_to "Profile",  user_path(current_user.id) %>
<% else %>
    <p>Please log in to upload/view your images.</p>
<% end %>
<p>We respect your privacy! User profiles cannot be viewed by others.</p>

<h3>Here are all public images:</h3>

<ul>
    <% @posts.each do |post| %>
        <li>
        <%= image_tag url_for(post.image) %>
        </li>
    <% end %>
</ul>